h1 {
	font-size: 100px;
	font-family: 'ChomskyRegular';
   font-weight: normal;
   font-style: normal; 
   text-align: center;
}
h2 {
	font-family: 'ChomskyRegular';
   font-weight: normal;
   font-style: normal; 
	font-size: 80px;
	text-align: center;
}
h3 {
	color:#333;
	font-family: 'ChomskyRegular';
   font-weight: normal;
   font-style: normal; 
	font-size: 50px;
	text-align: center;
}
body {
	font-family: Georgia;
	font-size: 25pt;
	word-spacing: 0.025in;
 }
 footer{
 	font-family: Georgia;
 	font-size: 19pt;
 	font-style: italic;
 }

div.header {
	text-align: center;
}
div.video{
	float: left;
}

div.flag{
	margin-left: auto;
	margin-right: auto;
}

ul {
	font-family: Georgia;
   font-weight: normal;
   font-style: normal; 
	font-size: 40px;
}
div.black{
	background-color:black;
}

div.columns {
	columns: 100px 3;
	column-rule: solid;

